/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  background-color: #f9f9f9;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.nav {
  background-color: #0065b4;
  max-width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  width: 60%;
  flex-wrap: nowrap;
  justify-content: center;
}

.loginbar {
  width: 20%;
  display: flex;
  justify-content: center;
}

/*主視覺畫面*/

.herro-section {
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  position: relative;
}

.onepage-pic {
  max-width: 100%;
}

.onepage-pic img {
  width: 100%;
}

.onepage-rectangle {
  width: 40%;
  height: 10%;
  background-color: #659de1;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/*第二頁*/

.two-section {
  width: 90%;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-bottom: 192px;
  position: relative;
}

.two-colorship img {
  width: 80%;
}

.twopage-pic {
  max-width: 80%;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 170px;
}

.twopage-pic img {
  width: 100%;
}

.cardtwo {
  width: 40%;
  height: 55%;
  background-color: #f9f9f9;
  position: absolute;
  box-shadow: 3px 5px 8px #0029758e;
  left: 5%;
  bottom: 7%;
  z-index: 3;
  text-align: center;
  padding-top: 50px;
}

.fontsize34 {
  font-size: 34px;
}
.mt-30 {
  margin-top: 30px;
}
.px-15 {
  padding: 15px 0;
}
.fontsize34-group > .fontsize34 {
  font-size: 34px;
  padding-top: 15px;
}

.button1 {
  width: 20%;
  height: 10%;
  background-color: #e165d0;

  position: absolute;
  bottom: 10%;
  left: 25%;
  z-index: 2;
}

.button2 {
  width: 20%;
  height: 10%;
  background-color: #7165e1;
  position: absolute;
  bottom: 10%;
  right: 25%;
  z-index: 2;
}

.twopage-rectangle {
  width: 40%;
  height: 30%;
  background-color: #659de1;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/*第三頁*/
.three-section {
  max-width: 100%;
  height: 100%;
  margin-bottom: 380px;
  position: relative;
}
.threepage-pic {
  width: 100%;
}

.threepage-pic > img {
  width: 100%;
}

.three-content {
  max-width: 50%;
  position: absolute;
  top: 5%;
  left: 18%;
  color: #f9f9f9;
}
.fontsize-34 {
  font-size: 34px;
}

.fontsize-20 {
  font-size: 20px;
}
.newproduct {
  position: absolute;
  bottom: 40%;
  left: 26%;
  color: #f9f9f9;
}
/*在文字下面放線*/
.border-bottom-blue {
  position: relative;
  left: 0px;
  width: 60px;
  height: 20px;
  border-bottom: 3px solid #659de1;
}
.border-bottom-white {
  position: relative;
  left: 0px;
  width: 60px;
  height: 20px;
  border-bottom: 3px solid #f9f9f9;
}

.small-border {
  border: #f9f9f9;
}

.all-button {
  position: absolute;
  border-radius: 3px;

  bottom: 40%;
  right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 234px;
  background-color: rgba(183, 185, 183, 0.383);
}

.all-button1 {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 234px;
  background-color: rgba(183, 185, 183, 0.383);
}
.Best-selling-group {
  display: flex;
  justify-content: space-between;
}

.fontsize60 {
  font-size: 60px;
}
.fontsize16 {
  font-size: 16px;
}

.box {
  max-width: 1920px;
  display: flex;

  height: 600px;
  position: absolute;
  z-index: 2;
  bottom: -45%;
  right: -30%;
}

.box1 {
  height: 100%;
  width: 20%;
  margin-right: 20px;
}

.box1-pic {
  width: 100%;
  height: 70%;
}
.box1 img {
  width: 100%;
  height: 100%;
}

.item-1 {
  width: 100%;
  padding: 0 10px;

  height: 30%;
}

.item-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.button03 {
  margin-bottom: 146px;
  margin-left: 27%;
  display: flex;
}

.long-colorship {
  width: 35%;
  margin-bottom: 30px;
}
.long-colorship img {
  width: 100%;
}

.container-1 {
  margin: 0 auto;
  width: 1200px;
}
.hot-sale-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  margin-top: 60px;
  margin-bottom: 238px;
}
.box2 {
  width: 25%;
}
.box2-pic {
  width: 100%;
  height: 70%;
}
.box2-pic img {
  width: 100%;
  height: 100%;
}
.box2-group {
  width: 100%;
}
.mb-20 {
  margin-top: 20px;
}

.box3 {
  width: 25%;

  margin-top: 100px;
}
.box4 {
  width: 25%;
}
.box5 {
  width: 25%;

  margin-top: 100px;
}

.four-rectangle {
  width: 1920px;
  height: 552px;
  background-color: #fcf5e9;
  position: absolute;
  bottom: 10%;
  z-index: -1;
}

.dd {
  width: 100%;
  height: 300px;
  background-color: blueviolet;
}

